<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
  <typeAliases>
  	<typeAlias type="com.min.edu.vo.ChatFileVo" alias="chatfileVo"/>
  	<typeAlias type="com.min.edu.vo.ChatRoomVo" alias="chatRoomVo"/>
  	<typeAlias type="com.min.edu.vo.ChatVo" alias="chatVo"/>
  </typeAliases>
  
  <mappers>
  	<mapper resource="sqls/boardStatement.xml"/>
  	<mapper resource="sqls/memberStatement.xml"/>
  </mappers>
</configuration>
